.App {
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;


 
}
*{

}
.nav{

  width: 100%;
}

.App-header{
  
  color: #f5f5f5;
  overflow: hidden;
  justify-content: center;
  height: 95vh;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  vertical-align: text-top;
  z-index: 0;
}




.Title{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 80px;
  color: whitesmoke;

  align-items: center;
  justify-content: left;
  text-align: top;
  float: left;
}

.title{
  font-size: 50px;
  text-decoration: wavy;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  padding-top: 10px;
  color: black;
  
}
.bg-image{
  background-image: url('./components/images/download.jpg');
  background-size: 100% 100%;
  background-position: top, center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;


}
.bg-text{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: justify;

}

.me{
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 700px;
  padding: 20px;
  filter: grayscale(100%);
  border: 1px solid;
  box-shadow: 5px 10px 18px #888888;

}
.welcome-text{
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 25%;



  

}

.sub{
  font-size: 20px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

.welcome-background-holder .background .project-background-holder .skills-background-holder .hobbies-background-holder{
  background:#7f7f7f;
  background:rgba(255,255,255,0);
  background:rgba(255, 255, 255, 0);


}
.welcome-background-holder{
  background:rgba(103, 212, 226, 0.1);
  padding: 20px;
  position: relative;



}

.project-background-holder{
  background:rgba(145, 230, 8, 0.1);
  padding: 20px;
  position: relative;


}
.skills-background-holder{
  background:rgba(228, 118, 114, 0.1);
  padding: 20px;
  position: relative;

}
.hobbies-background-holder{
  background:rgba(238, 202, 2, 0.1);
  padding: 20px;
  position: relative;

}

.container{
  width: auto;
  height: auto;
}

.Projects{

  border-radius: 0.5rem;
  box-shadow: 5px 10px 18px #888888;

  background-image: linear-gradient(180deg, #0F2027, #203A43, #2C5364);
}
.Projects .text-project button{
  background-color: transparent;
  color: #f1f1f1;
  border: none;
}


.col-title{
  text-decoration: underline;

}

.text-project{
  color: #f1f1f1;
  margin: 40px;
  padding-bottom: 10px;

}

.pro-col{




}






.hob-but{
  margin: 10px;
  
}
.hob-img{
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 700px;
  height: 200px;
  padding: 20px;


  box-shadow: 0.1px 1px 18px #888888;

}
.pro-github{


}


.Hobbies{


}

h1{
  font-size: 3rem;
}

